.mar-footer{
    margin-top: 200px;
}
.news-letter{
    margin-top: -30px;
}
.news-letter-1 h5{
    font-size: 18px;
    text-align: right;
    color:#fff
}

.news-letter-1 p{
    font-size: 14px;
    text-align: right;
}

.news-letter-2 p{
    font-size: 14px;
    line-height:2;
    text-align: right;
}

.input-news-letter::-webkit-input-placeholder{
    font-size: 14px;
}

.news-letter-3 button{
    font-size: 14px;
}

.main-section-footer h5{
    font-size: 15px;
    padding-bottom: 10px;
    
}

.footer-nav-custom li a{
    font-size: 14px;
    color:#fff;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.footer-nav-custom li a:hover{
    color: rgb(201, 201, 201);
}
.support-roules i{
    font-size: 40px;
    color: rgb(63, 185, 26);
    margin-left: 15px;
}

.tel-support p{
    font-size: 12px;
}

.tel-support a{
    font-size: 12px;
    color: rgb(56, 53, 53);
    margin-left: 34px;
}

.social-icon li a i{
    font-size: 18px;
    color: rgb(63, 185, 26);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.social-icon li a i:hover{
   color: rgb(108, 235, 69);
}

/* start lesson 44 */
.news-letter .row{
    margin-top: -70px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.075);
}

.text-modal h5{
    text-align: center;
    color: #000;
}
/* .nav .nav-link li{
    display: inline-block;
} */
.nav .nav-link li a{
    border-bottom: none;
    text-decoration: none;
    text-align: right;
    display: inline-block;
}
.main-section-footer h5{
    text-align: right;
}
.copy-right{
    background-color: #2b2c2d;
    text-align: center;
    padding:30px 0;
    color: #cacaca;
    font-size: 14px;

}